.prediction-bar {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 80%;
    width: auto;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 15px 25px;
    text-align: center;
    z-index: 10;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    transition: opacity 0.5s ease;
    opacity: 1;
  }
  
  p {
    margin: 0;
    font-size: 1em;
    font-weight: 300;
  }